html {
  scroll-behavior: smooth;
}

body {
	width: 100%;
	font-family: "Lato";
	margin: 0;
	background-color: black;
}

#spinner1 {
	width: 80px;
	height: 80px;


	border-top: 5px solid #7bd0f7;
	border-radius: 100%;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	z-index: 5;
	animation: clockwise 1s infinite;
}

#spinner2 {
	width: 60px;
	height: 60px;


	border-top: 5px solid #103454;
	border-radius: 100%;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	z-index: 5;
	animation: counter 1s infinite;
}

@keyframes clockwise {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

@keyframes counter {
	from {
		transform: rotate(360deg);
	} to {
		transform: rotate(0deg);
	}
}

#overlay {
	height: 100%;
	width: 100%;
	background:rgba(1, 1, 1, 1);
	position:fixed;
	left:0;
	top:0;
	z-index: 4
}

.navparent {
	position: relative;
	z-index: 2;
}

.navparent .navs {
	color: white;
	float: right;
	padding: 30px 3%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-decoration: none;
	display: flex;
	text-shadow: 2px 2px 0px black;
}

.navparent a:hover, a:active .navs {
	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.logo {
	float: left;
	text-decoration: none;
	display: flex;
	background-image: url('images/davidlogo.png');
	background-size: 100% 100%;
	width: 8em;
	height: 4em;
	padding: 10px; 
	transition: top 0s;
	z-index: 3;
	position: absolute;
}

.logo:hover {
	background-image: url('images/davidloglow.png');
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    float: right;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    position: relative;
    display: none;
    z-index: 5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right:0 ; 
    font-size: 36px;
}

#smallmenu {
	float: right;
	color: white;
	font-size: 36px;
	margin: 10px;
	display: none;
	z-index: 4;
	position: relative;
}

#smallmenu:hover {
	cursor: pointer;
	color:rgba(0,0,0,.5);
}

@media(max-width: 1080px) {
  #davidname {
  	font-size: 60px;
  }

  .sectiontitle {
  	font-size: 60px;
  }

}

@media(max-width: 840px) {
	.navparent {
		display: none;
	}

	#smallmenu {
		display: block;
	}

	.sidenav {
		display: block;
	}


}

@media(max-width: 720px) {

  #davidname {
  	font-size: 36px;
  }

  .sectiontitle {
  	font-size: 36px;
  }

}


/* ----------------------------------------------------------------------- */

 
#par1 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par2 {
	position: absolute;
	left: 0;
	top: 0%;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par3 {
	position: absolute;
	left: 0;
	top: 0%;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par4 {
	position: absolute;
	left: 0;
	top: 0%;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par5 {
	position: absolute;
	left: 0%;
	top: 0;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#about {
	position: absolute;
	background: black;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
	color: white;
}
.sectiontitle {
	text-align: center 
}

#about img {
	margin: 20px;
	float: left;
	width: 40%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

#intro-container {
	width: 70%;
	margin: 0 auto;
}

#intro-container p {
	line-height: 150%;
	text-indent: 20px;
	padding: 20px; 
	background: rgba(255, 255, 255, .1);
	font-size: 16px;

}

#par-container {
	background-color: black;
}

.par-div {
	height: 18%;
	top: 0%;
}

#titlediv {
	position: absolute;
	z-index: 2;
	width: 80%;
	padding: 5% 0%;
	margin: 0% 10%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

.aboutinfo div {
	opacity: 0;
	transform: translateX(-20px);
	transition: all .6s ease-in-out;

}

.aboutinfo .is-showing {
	opacity: 1;
	transform: translateX(0px);
}


#experience {
  position: absolute;
  width: 100%;
  background-color: black;
}

#exptitle {
	opacity: 0;
	transition: all .6s ease-in-out;
	transform: translateX(-30px);
}

#exptitle.is-showing {
	opacity: 1;
	transform: translateX(0px);
}

.expgrid {
	/*margin: 10%*/
	/*margin-top: 10%*/
	padding-left: 10% ;
	padding-right: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
}

.expgrid div {
	opacity: 0;
	transition: all .6s ease-in-out;
	transform: translateX(-50px);
	margin: 10%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.expgrid img {
	width: 70%;
}

.expgrid .is-showing {
	opacity: 1;
	transform: translateX(0px);
}

#projects {
	position: absolute;
	width: 100%;
	background-color: black;
	margin-bottom: 80px;
}

.projgrid {
	display:grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	padding-left: 10% ;
	padding-right: 10%;
}

.projgrid div {
	margin: 5%;
	display:grid;
	align-items:center;
	border: 1px solid #e1e1e1;
}


.projgrid h3 {
	text-align: center;
}

.projgrid p {
	margin: 5%;
}


#proj1 {
	transform: translate(-800px, 0px);
}

#proj2 {
	transform: translate(800px, 0px);
}

#proj3 {
	transform: translate(-800px, 0px);
}

#footspace {
	height: 80px;
	width: 100%;
	position: absolute;
	z-index: -1;
}


#footer {
  position: fixed;
  z-index: -1;
  font-size: 1;
  background-color: white;
  width: 100%;
}

#footer .footer-img {
  width: 30px;
  height: 30px;
  margin: 10px;
}





/* ----------------------------------------------------------------------- */

h1 {
	color: white;
	font-size: 72px;
	padding: 0;
	margin: 0;
}


