body {
	height: 100%;
	margin: 0;
	width: 100%;
	font-family: "Lato";
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 24px;
}

.navparent {
	position: relative;
	z-index: 2;
}

.navparent .navs {
	color: white;
	float: right;
	padding: 30px 3%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-decoration: none;
	display: flex;
	text-shadow: 2px 2px 0px black;
}

.navparent a:hover, a:active .navs {
	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.logo {
	float: left;
	text-decoration: none;
	display: flex;
	background-image: url('davidlogo.png');
	background-size: 100% 100%;
	width: 8em;
	height: 4em;
	padding: 10px; 
	transition: top 0s;
	z-index: 3;
	position: absolute;
}

.logo:hover {
	background-image: url('davidloglow.png');
	background-color: rgba(0, 0, 0, 0);
}

#banner {
	background-image: url("stockback2.jpg");
	background-size: auto 140%;
	background-repeat: no-repeat;
	overflow: hidden;
	top:0%;
	left: 0%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    float: right;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    position: relative;
    display: none;
    z-index: 5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right:0 ; 
    font-size: 36px;
}

#smallmenu {
	float: right;
	color: white;
	font-size: 36px;
	margin: 10px;
	display: none;
	z-index: 4;
	position: relative;
}

#smallmenu:hover {
	cursor: pointer;
}

.intro {
	padding: 100px 8%;
}

.transp {
	background-color: rgba(0, 0, 0, .3);
	padding: 80px 8%;
	margin: 50px;
	text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #FFFFFF;
}

.transp h1 {
	font-size: 72px;
	margin: 0;
}

.transp h2 {
	padding:10px;
  font-size: 30px;
  margin:0px;
}

.transp a {
	border: 2px solid white;
	padding: 10px;
	margin: 10px;
	border-color: white;
	/*display:inline;*/
	color:white;
	text-decoration: none;
}

.transp a:hover {
	background-color: white;
	color: black
}

.image {
  width: 100%;
  background: #fff;
  padding: 0;
  display: block;   
  transition: .4s;
  -webkit-transition:.4s;
	-moz-transition:.4s;
}

.image-container {
	width: 48%;
	float:left;
	position: relative;
	overflow: hidden;
	transition: .4s;
}

.image-container .imgtext {
  position: absolute;
  opacity: 0;
  height: 100%;
	width: 100%;
  top: 0%;
  left: 0%;
  font-family: "Lato";
	font-size: 72px; 
	color: white;
	vertical-align: middle;
	padding: 2%;
	margin: 2% 4%;
}

@media(max-width: 1300px) {
  #explist h2 {
  	font-size: 32px;
  }
}

@media(max-width: 1080px) {
  .image-container .imgtext {
    font-size: 48px;
  }

  .transp h1 {
  	font-size: 60px;
  }

  .transp h2 {
  	font-size: 32px;
  }

  #abouttitle {
  	font-size: 60px;
  }

  #experiencetitle {
  	font-size: 60px;
  }




}

@media(max-width: 840px) {
	.navparent {
		display: none;
	}

	#smallmenu {
		display: block;
	}

	.sidenav {
		display: block;
	}


}

@media(max-width: 720px) {
  .image-container .imgtext {
    font-size: 32px;
  }

  #experiencetitle {
  	font-size: 36px;
  }


  .transp h1 {
  	font-size: 36px;
  }

  .transp h2 {
  	font-size: 16px;
  }

  #abouttitle {
  	font-size: 36px;
  }

  #timeline ul li div {
  	width: 200px;
  }


}

@media(max-width: 540px) {
  .image-container .imgtext {
    font-size: 24px;
  }
}


.image-container .imgbox {
	background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  height: 100%;
	width: 100%;
  top: 0%;
  left: 0%;
	padding: 10px;
}

.image-container:hover {
	box-shadow: 0px 0px 20px #000;
}

.image-container:hover .imgbox {
    transition: .4s;
		opacity: 1;
}

.image-container:hover .imgtext {
    transition: .4s;
		opacity: 1;
		transform: translateY(10px);
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
}

.image-container:hover .image {
	transform: scale(1.1);
	-webkit-transform: scale(1.1) ;
	-moz-transform: scale(1.1);
}

.topleft {
	margin: 1.33% .66% .66% 1.33%;
}

.topright {
	margin: 1.33% 1.33% .66% .66%;

}

.botleft {
	margin: .66% .66% 1.33% 1.33%;

}

.botright {
	margin: .66% 1.33% 1.33% .66%;

}


footer {
  font-size: 12px;
  padding: 20px 0;
  float: right;

  /*height: 50px;*/
}

footer .footer-img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* ----------------------------------------------------------------------- */



#par1 {
	position: absolute;
	left: 0;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par2 {
	position: absolute;
	/*background-image: url("aboutpar/par2.png");*/
	left: 0;
	/*height: 200%;*/
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par3 {
	position: absolute;
	/*background-image: url("aboutpar/par3.png");*/
	left: 0;
	/*height: 200%;*/
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par4 {
	position: absolute;
	/*background-image: url("aboutpar/par4.png");*/
	left: 0;
	/*height: 200%;*/
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#par5 {
	position: absolute;
	/*background-image: url("aboutpar/par5.png");*/
	left: 0%;
	/*height: 200%;*/
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
}

#black {
	position: absolute;
	background: black;
	height: 70%;
	width: 100%;
	background-size: 110%;
	z-index: 1;
	background-repeat: no-repeat;
	color: white;
}

#black h1 {
	text-align: center;
	font-size: 72;
	padding: 10px;
	margin: 10px;  
}

#black img {
	margin: 20px;
	float: left;
	width: 40%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

#intro-container {
	width: 70%;
	margin: 0 auto;
}

#intro-container p {
	line-height: 150%;
	text-indent: 20px;
	padding: 20px; 
	background: rgba(255, 255, 255, .1);
	font-size: 16px;

}

#par-container {
	height: 120%;
	background-color: black;
}

.par-div {
	height: 10%;
}

#aboutdiv {
	position: absolute;
	z-index: 2;
	width: 80%;
	padding: 5% 0%;
	margin: 0% 10%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	border-style: solid;
	border-width: 5px;
	border-color: white;
}


/* ----------------------------------------------------------------------- */

h1 {
	color: white;
	font-size: 72px;
	padding: 0;
	margin: 0;
}


#expbackground {
	background: url("experience/lightbulb2.jpg");
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
}

#experiencediv {
	position: absolute;
	z-index: 2;
	width: 80%;
	padding: 5% 0%;
	margin: 0% 10%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	border-style: solid;
	border-width: 5px;
	border-color: white;
	top: 27%;
}

#explist {
	background: url("experience/road.jpeg");
	background-size: cover;
	border-style: solid;
	border-width: 10px 0 0 0;
	border-color: white;
	color: white;
	overflow: hidden;
}

#explist div {
	width: 70%;
	margin: 0 15% 0 25%; 
	position: relative;
}

#explist div img {
	width: 30%;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#explist div div {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding: 20px;
	background: rgba(0, 0, 0, .6);
	margin: 10px 0px 10px 10px;
	border-style: solid;
	border-width: 0 0 0 10px;
	border-color: white;
	color: white;
	position: relative;
}

#explist div h2 {
	padding: 10px 5px 5px 10px;
	margin: 0;
}

#explist div h3 {
	padding: 10px 5px 5px 10px;
	margin: 0;
}

.img-fade {
	opacity: 0;
}

/* ----------------------------------------------------------------------- */


#soon {
	background-image: url("stockback2.jpg");
	background-size: cover;

}

























/*#timeline {
	background-image: url("stockback2.jpg");
	background-size: cover;
	padding: 0 0 2% 0;
}

#timeline ul li {
  list-style-type: none;
  position: relative;
  width: 10px;
  margin: 0 auto;
  padding-top: 100px;
  background: #fff;
}

#timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: inherit;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 70vh;
  padding: 15px;
  background: rgba(0, 0, 0, .8); 
  background: #00238e;
}

#timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

#timeline ul li:nth-child(odd) div {
  left: 45px;
  top: -5px;
}
 
#timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #b6b6b6 transparent transparent;
}

#timeline ul li:nth-child(even) div {
  left: -570px;
  top: -5px;
}
 
#timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #b6b6b6;
}*/
